h1 {
    text-align: center;
}
.container {
    padding: 0 20%;
    /* margin: 0 auto; */
}
.frame {
    margin: 0 auto;
}
span {
    color: red;
    padding-left: 5px;
}
.item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}
.item-title {
    font-size: 18px;
}
.left {
    width: 20%;
}
.right {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.with_example {
    flex-direction: column;
}
input {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input:focus, textarea:focus {
    outline: none;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
}
.textbox-name {
    width: 48%;

}
.family, .given {
    width: 100%;
}
/* .gender-item {
    justify-content: space-between;
} */
.radio {
    transform: scale(2.0);
}
.example {
    color: gray;
}
button {
    display: block;
    background-color: black;
    color: white;
    padding: 5px 50px;
    margin: 10px auto;
}

